@page "/login-admin"
@inject NavigationManager NavigationManager


<div class="login-container">


    <h3 class="login-title">Login of Admin</h3>

    <div class="login-form">
        <div class="input-group">
            <label>ID:</label>
            <input type="text" @bind="ID" />
        </div>
        <div class="input-group">
            <label>Password:</label>
            <input type="password" @bind="password" />
        </div>
        <div class="button-group">
            <button class="login-button" @onclick="HandleLogin">Login</button>
            <button class="cancel-button" @onclick="NavigateToHome">Cancel</button>

        </div>
    </div>

</div>



<style>

    /* Stili për sfond */
    .login-container {
        text-align: center;
        margin-top: 2.5%;
        position: relative;
        background-image: url('/Images/Image1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    /* Stili për titullin */
    .login-title {
        background-color: maroon;
        color: white;
        height: 9vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    /* Stili për formën e login-it */
    .login-form {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f5f5f5;
    }

    /* Stili për input-et dhe button-et */
    .input-group {
        margin-bottom: 20px;
        color: black;
        text-align: left;
    }

        .input-group label {
            display: block;
            margin-bottom: 7px;
        }

        .input-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

    .button-group {
        text-align: center;
    }

    .login-button, .cancel-button, .register-button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .login-button {
        background-color: maroon;
        color: #fff;
    }

    .cancel-button {
        background-color: #ccc;
    }

    .register-button {
        background-color: darkred;
        color: #fff;
    }
</style>


@code {
    private string ID;
    private string password;

    private async Task HandleLogin()
    {
        NavigationManager.NavigateTo("/home-admin");
    }

 
    private void NavigateToHome()
    {

        NavigationManager.NavigateTo("/");

    }
}



